#navigation-bar {
    height: auto;
    background-color: rgb(255, 254, 246);
}

#upper-nav {
    padding: 8px 80px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(255, 254, 246);
    box-shadow: 0 0 5px gray;
}

#upper-nav img {
    width: 80px;
    margin: 0;
    padding: 0;
}

#search-bar {
    padding: 0px 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 50px;
    width: 500px;
    height: 40px;
}

#search-bar form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-bar form input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 95%;
    padding: 0px 10px;

}

#search-bar form button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.nav-button {
    border: none;
    background-color: transparent;
    transition: transform 0.3s;
    font-size: 20px;
}

.nav-button:hover {
    transform: scale(1.1);
}

#login-text {
    font-size: 25px;
    font-weight: 500;
}

#login-and-cart {
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}










#lower-nav {
    padding: 0 10px;
    padding-top: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 254, 246);
}

#lower-nav::-webkit-scrollbar {
    display: none;
}


#lower-nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

#lower-nav a:hover {
    transform: scale(1.01);
    color: blue;
}


.nav-card {
    padding-top: 20px;
}


.nav-card .nav-card-image {
    width: 120px;
    height: 150px;
    padding: 0 0;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s ease;
}

.nav-card .nav-card-image img {
    width: 100%;
    height: 100%;
}

.nav-card:hover .card-image {
    transform: scale(1.02);
}


.nav-card-content {
    padding: 5px 0;
}


.nav-card-content h3 {
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (min-width: 315px) and (max-width: 375px) {

    #upper-nav {
        position: relative;
        padding: 10px 20px;
        display: flex;
        height: 85px;
        align-items: start;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgb(255, 254, 246);
        box-shadow: 0 0 5px gray;
    }

    #upper-nav img {
        width: 35px;
    }

    #search-bar {
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        width: 85%;
        height: 23px;
    }

    #login-and-cart {
        width: 130px;
    }



    #lower-nav {
        padding: 0 10px;
        padding-top: 5px;
        display: flex;
        white-space: nowrap;
        justify-content: space-evenly;
        gap: 5px;
        align-items: center;
        background-color: rgb(255, 254, 246);
    }


    #login-text {
        font-size: 20px;
        font-weight: 500;
    }

    .nav-card .nav-card-image {
        height: 65px;
        width: 52px;
    }

    .nav-card-content h3 {
        text-align: center;
        font-size: 9px;
        font-weight: 700;
    }

    .nav-button {
        font-size: 15px;
    }
}



@media screen and (min-width: 376px) and (max-width: 429px) {

    #upper-nav {
        position: relative;
        padding: 10px 20px;
        display: flex;
        height: 85px;
        align-items: start;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgb(255, 254, 246);
        box-shadow: 0 0 5px gray;
    }

    #upper-nav img {
        width: 35px;
    }

    #search-bar {
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        width: 85%;
        height: 23px;
    }

    #login-and-cart {
        width: 130px;
    }



    #lower-nav {
        padding: 0 10px;
        padding-top: 5px;
        display: flex;
        white-space: nowrap;
        justify-content: space-evenly;
        gap: 5px;
        align-items: center;
        background-color: rgb(255, 254, 246);
    }


    #login-text {
        font-size: 20px;
        font-weight: 500;
    }

    .nav-card .nav-card-image {
        height: 65px;
        width: 52px;
    }

    .nav-card-content h3 {
        text-align: center;
        font-size: 9px;
        font-weight: 700;
    }

    .nav-button {
        font-size: 15px;
    }
}

@media screen and (min-width: 430px) and (max-width: 590px) {
    #upper-nav {
        position: relative;
        padding: 10px 20px;
        display: flex;
        /* height: 150px; */
        align-items: start;
        justify-content: space-between;
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgb(255, 254, 246);
        box-shadow: 0 0 5px gray;
    }

    #upper-nav img {
        width: 45px;
    }

    #search-bar {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        width: 90%;
        height: 30px;
    }

    #login-and-cart {
        width: 130px;
    }

    #lower-nav {
        padding-top: 10px;
    }


    .nav-card .nav-card-image {
        height: 75px;
        width: 60px;
    }

    .nav-button {
        font-size: 13px;
    }
}


@media screen and (min-width: 591px) and (max-width: 765px) {
    #upper-nav {
        padding: 8px 8px;
        display: flex;
        height: 80px;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: rgb(255, 254, 246);
        box-shadow: 0 0 5px gray;
    }

    #upper-nav img {
        width: 60px;
        margin: 0;
        padding: 0;
    }

    #search-bar {
        padding: 0px 10px;
        background-color: white;
        border: 1px solid;
        border-radius: 50px;
        width: 300px;
        height: 35px;
    }

    #search-bar form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #search-bar form input {
        background-color: transparent;
        border: none;
        height: 100%;
        width: 95%;
        padding: 0px 10px;

    }

    #search-bar form button {
        background-color: transparent;
        border: none;
        font-size: 15px;
    }

    .nav-button {
        border: none;
        background-color: transparent;
        transition: transform 0.3s;
        font-size: 18px;
    }

    .nav-button:hover {
        transform: scale(1.1);
    }

    #login-text {
        font-size: 23px;
        font-weight: 500;
    }

    #login-and-cart {
        width: 130px;
    }

    #lower-nav {
        padding: 0 10px;
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(255, 254, 246);
    }


    #lower-nav a {
        display: inline-block;
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease;
    }

    #lower-nav a:hover {
        transform: scale(1.01);
        color: blue;
    }


    .nav-card {
        padding-top: 20px;
    }


    .nav-card .nav-card-image {
        width: 1208x;
        height: 160px;
        padding: 0 0;
        text-align: center;
        border-radius: 12px;
        overflow: hidden;
        transition: 0.3s ease;
    }

    .nav-card .nav-card-image img {
        width: 100%;
        height: 100%;
    }

    .nav-card:hover .card-image {
        transform: scale(1.02);
    }


    .nav-card-content {
        padding: 5px 0;
    }


    .nav-card-content h3 {
        text-align: center;
        font-size: 13px;
        font-weight: 700;
    }

}



@media screen and (min-width: 766px) and (max-width: 900px) {
    #upper-nav {
        padding: 8px 10px;
        height: 60px;
    }

    #upper-nav img {
        width: 60px;
    }

    #search-bar {
        width: 400px;
        height: 40px;
    }


    .nav-button {
        font-size: 18px;
    }


    #login-text {
        font-size: 19px;
        font-weight: 500;
    }

    #login-and-cart {
        width: 100px;
    }

    .nav-card .nav-card-image {
        height: 70px;
        width: 60px;
    }

    .nav-card-content h3 {
        font-size: 10px;
        font-weight: 700;
    }

    #lower-nav {
        padding-top: 60px;
    }

    .nav-card {
        padding-top: 20px;
    }

}


@media screen and (min-width: 901px) and (max-width: 1100px) {
    #upper-nav {
        padding: 8px 20px;
        height: 80px;
    }

    #upper-nav img {
        width: 60px;
    }

    #search-bar {
        width: 400px;
        height: 40px;
    }


    .nav-button {
        font-size: 18px;
    }


    #login-text {
        font-size: 23px;
        font-weight: 500;
    }

    #login-and-cart {
        width: 150px;
    }

    .nav-card .nav-card-image {
        height: 75px;
        width: 60px;
    }

    .nav-card-content h3 {
        font-size: 10px;
        font-weight: 700;
    }

    #lower-nav {
        padding-top: 80px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
    .nav-card .nav-card-image {
        height: 100px;
        width: 80px;
    }

    .nav-card-content h3 {
        font-size: 10px;
        font-weight: 800;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1600px) {
    .nav-card .nav-card-image {
        height: 125px;
        width: 100px;
    }

    .nav-card-content h3 {
        font-size: 12px;
        font-weight: 700;
    }
}
